.switcher
  .ui.segment.inverted
    #switcherList.ui.inverted.animated.selection.relaxed.divided.list
      .active.item 
        i(style="font-family:'FontAwesome';font-size:150%").icon-cube.icon
        .content
          .header Main
          .description Implementation of the Main function
      .item 
        i(style="font-family:'FontAwesome';font-size:150%").icon-cube.icon
        .content
          .header Add
          .description Adds two numbers...
