extends ./src/layout/html-layout.jade
block append head
  include ./src/view/stylesheets.jade
block append menu
  include ./src/view/menu.jade
block append body
  include ./src/templates/templates.jade
  include ./src/view/content.jade
  include ./src/view/scripts.jade
