#Jade-Templates-SwitcherItem
  div(id="<%= id %>").item
    i(style="font-family:'FontAwesome';font-size:150%").icon-cube.icon
    .content
      .header <%= implementation.name %>
      .description No description...
