#Jade-Templates-InputControl
  .ui.action.input
    input(id="input_<%= id %>" type='text', placeholder='Input Value')
    div(id="#<%= id %>" style="font-size:12px").ui.button.blue Send
  div &nbsp;
