.ui.item.right
  #compose-info-button.ui.button.disabled.icon
    i.icon.info.letter
.ui.item.right
  #compose-button.ui.teal.button
    i.icon.play
    |  Compose
  #compose-dropdown.ui.positive.floating.right.pointing.dropdown.icon.button
    i.dropdown.icon
    .menu
      #compose-no-debug.item
        i.green.icon.play
        | No Debug information
      #compose-debug.item
        i.red.icon.bug
        | With Debug information

#compose-construction.ui.item.right.dropdown
  .text Javascript
  i.icon.dropdown
  #compose-construction-menu.menu
