.logo
  table
    tr
      td
        | Buggy
        .versionLogo
          br
          | v.
          span#version 0.5.0
          br
          br
          |  powered by
          a(href='https://github.com/meemoo/dataflow', style='color:white') &nbsp;dataflow.js
      td
        img(src='resources/logo.png', width='100', style='position:relative;top:20px')
