
// Dataflow core
script(src='src/dataflow.js')
script(src='src/state.js')
script(src='src/buggy-plugins/code-render.js')
script(src="src/buggy-plugins/svg-graph.js")
// Dataflow Modules
script(src='src/modules/graph.js')
script(src='src/modules/node.js')
script(src='src/modules/input.js')
script(src='src/modules/output.js')
script(src='src/modules/edge.js')
script(src='src/modules/graph-view.js')
script(src='src/modules/node-view.js')
script(src='src/modules/input-view.js')
script(src='src/modules/output-view.js')
script(src='src/modules/edge-view.js')
// Cards
script(src='src/modules/card.js')
script(src='src/modules/card-view.js')
script(src='src/modules/menucard.js')
script(src='src/modules/menucard-view.js')
script(src='src/modules/node-inspect-view.js')
script(src='src/modules/edge-inspect-view.js')
// Nodes (some basics to extend)
script(src='src/nodes/base.js')
script(src='src/nodes/base-resizable.js')
script(src='src/nodes/test.js')
// Nodes (subgraph functionality)
script(src='src/nodes/dataflow-input.js')
script(src='src/nodes/dataflow-output.js')
script(src='src/nodes/dataflow-subgraph.js')
// Plugins
script(src='src/plugins/menu.js')
script(src='src/plugins/edit.js')
script(src='src/plugins/view-source.js')
script(src='src/plugins/log.js')
script(src='src/plugins/inspector.js')
script(src='src/plugins/keybinding.js')
script(src='src/plugins/notification.js')
script(src='src/plugins/search.js')
// ################ Buggy Stuff #################
//
  Semantic loading isnt nice yet. This file (should) contain(s) all
  semantic data packed in buggy.
script(src='libs/semantics.js')
script(src='src/buggy-plugins/buggy-wrap.js')
script(src='src/nodes/symbol.js')
script(src='src/buggy-plugins/logo.js')
script(src='src/buggy-plugins/search.js')
script(src='src/buggy-plugins/interfaces.js')
script(src='src/buggy-plugins/compose.js')
script(src='src/buggy-plugins/js-sandbox.js')
script(src='src/buggy-plugins/languages.js')
script(src='src/controller/graphwrapper.js')
script(src='src/buggy-plugins/view.js') 
script(src='src/controller/viewcontrol.js')
script(src='src/controller/switcher.js')
script(src='src/controller/codeview.js')
script(src='src/controller/graphview.js')
script(src='src/controller/functional.js')
script(src='src/languages/functional.js')
// Usability Features
script(src='src/usability/introduction.js')


script.
  var prelude = _require("prelude-ls");
  installPrelude(window,prelude);
  hljs.configure({classPrefix: ''});
  hljs.initHighlightingOnLoad();
    $(function($){
      // Everything should be loaded now
      var dataflow = new window.Dataflow({
        appendTo: "#graph1",
        buggy: Buggy.create()
      });
    });
  // do the semanticui initial stuff  
  $(function(){ $(".ui.dropdown").dropdown();});
