// Third-Party Libraries
script(src='libs/jquery.js')
script(src='libs/jquery-ui.js')
script(src='libs/underscore.js')
script(src='libs/backbone.js')
script(src='libs/hammer.min.js')
script(src='libs/semantic.js')
script(src='libs/highlight.pack.js')
script(src='libs/handlebars.js')
script(src="http://d3js.org/d3.v3.min.js")
script(src="libs/dagred3.js")
// Built-in Libraries
script(src='libs/CircularBuffer.js')
script(src='libs/prelude-browser-min.js')
script(src='libs/buggy.js')
// Style
// Fonts
link(rel='stylesheet', href='themes/default/font-proximanova.css')
link(rel='stylesheet', href='themes/default/font-awesome.css')
// Theme
link(rel='stylesheet', href='themes/default/dataflow.css')
link(rel='stylesheet', href='themes/default/modules/node.css')
link(rel='stylesheet', href='themes/default/modules/edge.css')
link(rel='stylesheet', href='themes/default/modules/port.css')
link(rel='stylesheet', href='themes/default/modules/card.css')
link(rel='stylesheet', href='themes/default/modules/jqui.css')
link(rel='stylesheet', href='themes/default/modules/search.css')
link(rel='stylesheet', href='themes/default/modules/logo.css')
link(rel='stylesheet', href='themes/default/modules/viewcontrol.css')
link(rel='stylesheet', href='themes/default/modules/compose.css')
link(rel='stylesheet', href='themes/default/modules/help.css')
link(rel='stylesheet', href='themes/default/semantic.min.css')
link(rel='stylesheet', href='themes/default/magula.css')
link(rel='stylesheet', href='themes/default/dagre.css')
