.viewcontrol{
  position:fixed;
  top:55px;
  left:50%;
  width:800px;
  margin-left:-400px;
  text-shadow: 0px 1px 1px #4d4d4d;
/*  color: #222; */
  color: #aaa;
  z-index:2;
  font-size: 18pt;
  text-align: center;
  -webkit-box-shadow: inset 1px 1px 5px 1px rgba(0,0,0,0.26);
  -moz-box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.26);
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.26);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

.viewcontrol .heading {
  font-size:50pt;
}

.viewcontrol small {
  font-size:18pt;
}

.viewcontrol i:hover{
  color:#A4CEE0;
  cursor:pointer;
}

.controls-right {
  position:absolute;
  top: 20px;
  right:20px;
  font-size:50%;
  padding-left:10px;
  border-left: 2px solid rgba(0,0,0,0.26);
}

.controls-left {
  position:absolute;
  top: 20px;
  left:20px;
  font-size:50%;
  padding-right:10px;
  border-right: 2px solid rgba(0,0,0,0.26);
}

.biginput {
  background-color:#232429;
  border: none;
  border-bottom:2px #826801 dotted;
  font-size:45pt;
  position:fixed;
  color:white;
  top:58px;
  left:50%;
  width:600px;
  margin-left:-300px;
  text-shadow: 0px 1px 1px #4d4d4d;
  text-align: center;
  z-index:200;
}

.biginput:focus{
  outline: none;
}

#codeview {
  overflow: auto;
  position:absolute;
  top:250px;
  bottom:50px;
  left:50%;
  width: 750px;
  max-height: 600px;
  margin-left:-325px!important;
  z-index:110;
  visibility:hidden;
}
